<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qluxstory.qingshe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name="com.qluxstory.qingshe.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.qluxstory.qingshe.common.base.SimpleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.me.activity.CuringOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.home.activity.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.home.activity.CuringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".me.activity.CuringOrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.home.activity.PlaceOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.home.activity.ProductBrowserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qluxstory.qingshe.me.activity.MyIncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.common.base.BrowserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.me.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.me.activity.UserInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.me.activity.WithdrawalsActivity"

            android:screenOrientation="portrait" />
        <activity
        android:name="com.qluxstory.qingshe.me.activity.ModifyUserActivity"
        android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.me.activity.DetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.me.activity.IndianaDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.issue.activity.SettlementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qluxstory.qingshe.issue.activity.PaymentSuccessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.qluxstory.qingshe.me.activity.TransactionDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.qluxstory.qingshe.home.activity.TestActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.qluxstory.qingshe.home.activity.VerticalScrollTextActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".home.activity.ChoiceCityActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.qluxstory.qingshe.common.widget.SelectPicPopup"
            android:screenOrientation="portrait">


        </activity>


    </application>

</manifest>